#HANDYLOG-view {
-webkit-box-shadow: inset 2px 0px 3px 1px rgba(0,0,0,0.2);
-moz-box-shadow: inset 2px 0px 3px 1px rgba(0,0,0,0.2);
box-shadow: inset 2px 0px 3px 1px rgba(0,0,0,0.2);
z-index: 9999999;
padding:0px;
position:fixed;
right:0px;
top:0px;
background-color:rgba(215, 215, 215, 0.95);
overflow-x:hidden;
overflow-y: auto;
max-height:100%;
max-width: 600px;
overflow-x:none;
bottom: 0px;
}
#HANDYLOG-view.HANDYLOG-hide {
background-color: rgb(87, 87, 87);
}
#HANDYLOG-view {
right:0px;
}
#HANDYLOG-view.HANDYLOG-hide #HANDYLOG-bar{
	background-color: transparent;
}
#HANDYLOG-view::-webkit-scrollbar {
width: 5px;
}

#HANDYLOG-view::-webkit-scrollbar-track {
border-radius: 0px;
background-color: #575757;
}

#HANDYLOG-view::-webkit-scrollbar-thumb {
border-radius: 0px;
background-color: #333;
}

#HANDYLOG-view #HANDYLOG-bar {
    display: block;
    padding: 6px;

    margin: 0px;
    background-color: #2991b8;
    color: #FFF;
    cursor: pointer;
    position: relative;
z-index: 1;
}

#HANDYLOG-view h3.HANDYLOG-item-title {
line-height: 28px;
margin-top: 0px;
color: #333;
word-break: break-all;
white-space: nowrap;
font-size: 14px;
}

#HANDYLOG-view .HANDYLOG-item-title-action{
margin-bottom:5px;
padding:2px;
display: inline-block;
font-size: 10px;
background-color:#CCC;
cursor: pointer;
}

#HANDYLOG-view .HANDYLOG-item{
padding:10px;
margin-bottom:0px;
overflow-x: auto;
color:#232323;
position: relative;
z-index: 1;
}

#HANDYLOG-view textarea {
display: block;
overflow: auto;
padding: 0px;
line-height: 1.4;
width: 100%;
font-size: 13px;
background: none;
border: none;
}

#HANDYLOG-view.HANDYLOG-hide .HANDYLOG-item{
display:none;
}

#HANDYLOG-view .jsonview .collapser {
position: absolute;
left: -1em;
cursor: pointer;
background-color: #CCC;
border-radius: 0%;
width: 8px;
line-height: 9px;
padding: 2px;
margin-top: 3px;
}

#HANDYLOG-view .jsonview .prop {
margin-left: 6px;
}

#HANDYLOG-view .HANDYLOG-undefined {
color:#999;
}
.jsonview .string,
.jsonview .num,
.jsonview .bool,
.jsonview .null,
.jsonview a {
	font-weight: inherit;
    color: #00709a;
    white-space: pre-wrap;
}

#HANDYLOG-view textarea {
    box-shadow: none;
    height: inherit;
    min-height: 12px;
}
#HANDYLOG-view h3{
margin: 0px;
}

#HANDYLOG-logfile{
	/* display: none; */
	overflow: auto;
	position: fixed;
	bottom: 0px;
	z-index: 99999;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,.8);
	color: #ddd;
	font-size: 12px;
	line-height: 18px;
	font-family: helvetica;
	max-height: 300px;
}
#HANDYLOG-logfile-content{
		padding:10px 40px;
}
.HANDYLOG-logfile-close {
	color:#fff;
	position: absolute;
	top: 9px;
	left: 10px;
	cursor: pointer;
}
